.primary-btn {
  @extend .relative,
  .h3,
  .white,
  .uppercase;
  background-color: $primary;
  height: 4*$o;
}

.header-icon {
  @extend .cover,
  .inline,
  .right,
  .pointer,
  .transition-3,
  .hover-primary;
  height: $header-content-height;
  width: $header-content-height;
}

.header-btn {
  @extend .inline,
  .right,
  .pointer,
  .uppercase,
  .center,
  .transition-3,
  .hover-primary;
  height: $header-content-height;
}

.menu-btn-icon {
  @extend .border-small,
  .header-icon,
  .hover-primary-invert;
  background: url($image + "icon-menu.png") no-repeat;
}

.login-btn-icon {
  @extend .border-small,
  .hover-primary-invert,
  .header-icon;
  background: url($image + "icon-login.png") no-repeat;
}

.login-btn-icon-white {
  @extend .border-small-white,
  .header-icon;
  background: url($image + "icon-login-white.png") no-repeat;
}

.menu-btn-icon-white {
  @extend .border-small-white,
  .header-icon;
  background: url($image + "icon-menu-white.png") no-repeat;
}

.donate-btn-white {
  @extend .border-small-white,
  .white,
  .h4,
  .header-btn;
  width: 200px;
  padding: 15px 0;
  margin-right: 20px;
}

.donate-btn {
  @extend .border-small,
  .black,
  .h4,
  .header-btn;
  width: 200px;
  padding: 15px 0;
  margin-right: 20px;
}

.donate-btn-icon-white {
  @extend .transition-3,
  .absolute,
  .cover,
  .pointer;
  background: url($image + "icon-donate.png") no-repeat;
  left: -26px;
  bottom: $o;
  width: 52px;
  height: 65px;
  padding: 15px 0;
  margin-right: 20px;
}

.donate-btn-icon-white:hover {
  left: -30px;
  width: 60px;
  height: 75px;
}

.overlay-btn {
  @extend .header-btn,
  .hover-primary,
  .h2,
  .black,
  .border-small;
  width: calc(50% - 54px);
  margin: 0 2*$o 2*$o 0;
}

.navigation {
  padding: 0 2*$o;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: $header-content-height;
}

.navigation-white {
  @extend .navigation;
}

.navigation .nav-item {
  color: $black;
}

.navigation-white .nav-item {
  color: $white;
}

.nav-item {
  @extend .inline,
  .uppercase,
  .underline,
  .h4,
  .pointer;
  white-space: nowrap;
  margin: 0 0.9*$o;
}

.small-navigation {
  @extend .navigation,
  .transition-3;
  position: relative;
  top: 2*$o;
  width: calc(100% - 60px);
  align-items: flex-start;
  height: auto;
}

.small-nav-item {
  @extend .uppercase,
  .underline,
  .h2,
  .black,
  .pointer,
  .transition-3;
  padding: $o*0.7 2*$o;
  margin: 0 2*$o 2*$o 0;
  width: 100%;
  min-height: 5*$o;
  border: $small-border solid $transparent;
}

.small-nav-item.active {
  color: $black;
  border: $small-border solid $primary;
}

.small-nav-item:hover {
  color: $primary;
  //border: $small-border solid $primary;
}

.hexagon-container h3 {
  @extend .absolute,
  .uppercase,
  .center,
  .white,
  .no-margin;
  width: 100%;
  pointer-events: none;
  top: calc(50% - 12px);
  left: 0;
}

.hexagon-container {
  @extend .center,
  .relative;
  padding: 0 !important;
  margin: 0 0 -7% 0;
  transform: scale(0);
  opacity: 0;
  transition: $medium-delay ease;
}

.hexagon-container:nth-child(7n+5) {
  margin-left: 12.5%;
}

.hexagon-container:nth-child(7n+7) {
  margin-right: 12.5%;
}

.hexagon {
  @extend .pointer;
  fill: transparent;
  stroke: #FFF;
  stroke-width: $border;
  width: 100%;
  transition: $medium-delay;
}

.hexagon:hover {
  fill: $primary;
  stroke-width: 0;
}

.hexagon-container.active {
  transform: scale(1);
  opacity: 1;
}

.hexagon-container.expand {
  transform: scale(3) !important;
}

.hexagon-container.expand .hexagon {
  transform: scale(5) !important;
  fill: $white;
}

.hexagon-container:nth-child(7) h3 {
  top: calc(50% - 28px);
}

.projects-nav-item {
  @extend .transition-3,
  .h3;
  margin: $o;
  display: inline-block;
  border-bottom: $small-border solid $disabled;
}

.projects-nav-item .active, .projects-nav-item:hover {
  border-bottom: $small-border solid $primary;
}


.slick-arrow:before {
  border-top: 4px solid black;
  border-left: 4px solid black;
  color: transparent;
}

.slick-prev, .slick-next {
  top: -7*$o;
}

.slick-next {
  transform: rotate(135deg);
  margin-top: -7px;
  right: 2*$o;
}

.slick-prev {
  transform: rotate(-45deg);
  left: 2*$o;
}

.slick-slider {
  top: 2*$o;
}

.slick-track {
  height: 270px;
  overflow: hidden;
}


.form-tab {
  background-color: $semi-dark;
}

.form-tab.active {
  background-color: $primary;
  bottom: $border;
  box-shadow: 0 $border 0 $semi-dark;
}

.form-hideable {
  @extend .transition-3;
  height: 60px;
  overflow: hidden;
}

.form-hideable.hide {
  height: 0;
}

.donation-form input {
  @extend .transition-3,
  .space-element;
  position: relative;
  background-color: $semi-light;
  color: $white;
  border: none;
  outline: none !important;
}

.donation-form input:focus {
  padding-left: 2*$o;
  background-color: $semi-dark;
}

.donation-form span {
  color: $white;
}

.donation-form label {
  color: $white;
  top: 4px;
  left: 24px;
}

.donation-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $primary;
}

.donation-form input::-moz-placeholder { /* Firefox 19+ */
  color: $primary;
}

.donation-form input:-ms-input-placeholder { /* IE 10+ */
  color: $primary;
}

.donation-form input:-moz-placeholder { /* Firefox 18- */
  color: $primary;
}

//.donation-select {
//  @extend .transition-3,
//  .h2,
//  .center;
//  color: $light;
//  white-space: nowrap;
//  display: inline-block;
//  border-bottom: $border solid $semi-light;
//  margin-bottom: 2*$o;
//}
//.donation-select.active {
//  color: $white;
//  //background-color: $semi-dark;
//  border-bottom: $border solid $semi-light;
//}
//.donation-select:hover {
//  color: $white;
//  border-bottom: $border solid $white;
//}
.donation-form input[type="radio"] + label {
  top: 0;
  left: 0;
}

.donation-form input[type="radio"] + label div {
  @extend .transition-3,
  .space-element,
  .center;
  position: relative;
  background-color: $semi-light;
  color: $white;
  border: none;
}

.donation-form input[type="radio"]:checked + label div {
  background-color: $semi-dark;
}

.donation-form-btn {
  @extend .transition-3,
  .border-small-white,
  .h3,
  .white,
  .uppercase,
  .center,
  .hover-white;
  height: 4*$o !important;
}

.donation-select {
  @extend .h2;
  white-space: nowrap;
  height: 4*$o !important;
}

@media screen and (max-width: 639.9px) {
  .small-navigation {
    width: 100%;
  }

  .small-nav-item {
    margin: 0 0 2*$o 0;
  }

  .overlay-btn {
    width: 100%;
    margin: 2*$o 0 0 0;
  }

  .hexagon-container {
    height: 64px;
    margin: $o 0;
    fill: transparent;
    stroke: transparent;
    width: 100% !important;
    border: $border solid $white;
    transition: $medium-delay;
    transform: scale(0);
    opacity: 0;
  }
  .hexagon {
    display: none;
    stroke-width: 0;
    background-color: transparent;
  }

  .hexagon:hover {
    fill: transparent;
  }

  .hexagon-container:nth-child(4n+5) {
    margin-left: 0;
  }
  .form-hideable {
    height: 180px;
  }

  .form-tab {
    font-size: 1.5*$o;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .hexagon-container:nth-child(7) h3 {
    top: calc(50% - 18px);
  }

  .hexagon-container h3 {
    font-size: 1.2*$o;
  }

  .small-nav-item {
    width: calc(50% - 24px);
  }
  .form-hideable {
    height: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  .small-nav-item {
    width: calc(50% - 24px);
  }
}
