.decoration {
  @extend .cover;
  background: url($image + "decoration.png") no-repeat;
  position: absolute;
  left: 0;
  top: 42px;
  width: 24px;
  height: 20px;

}

.logo-base {
  @extend .inline,
  .pointer,
  .cover;
  height: $header-content-height;
  width: 216px;
}

.logo {
  @extend .left,
  .logo-base;
  background: url($image + "logo.png") no-repeat;
}

.logo-white {
  @extend .left,
  .logo-base;
  background: url($image + "logo-white.png") no-repeat;
}

.mgsu-logo {
  @extend .right,
  .logo-base;
  background: url($image + "mgsu-logo.png") no-repeat;
}

.mgsu-logo-white {
  @extend .right,
  .logo-base;
  background: url($image + "mgsu-logo-white.png") no-repeat;
}

.wide-img {
  @extend .cover;
  z-index: 10;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: url($image + "home-bg.jpg") no-repeat center center fixed;
  margin-top: -8*$o;
  padding: 8*$o 0 14*$o 0;
}

.main-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12*$o;
  overflow: hidden;
}

.main-progress .bar-wrap {
  @extend .transition-3;
  position: absolute;
  background-color: transparent;
  bottom: 0;
  right: 0;
  height: $o;
  width: 100%;
  .bar-fact {
    height: 100%;
    position: relative;
  }
}

.donate-btn-icon-white {
  @extend .transition-3,
  .absolute,
  .cover,
  .pointer;
  background: url($image + "icon-donate.png") no-repeat;
  right: -26px;
  bottom: $o + 3px;
  width: 52px;
  height: 65px;
  padding: 15px 0;
}

.donate-btn-icon-white--tooLargeValue {
  @extend .transition-3,
  .absolute,
  .cover,
  .pointer;
  background: url($image + "icon-donate.png") no-repeat;
  right: 200px;
  bottom: 0;
  width: 52px;
  height: 65px;
  padding: 15px 0;
}

.donate-btn-icon-white:hover {
  right: -32px;
  bottom: 0;
  width: 64px;
  height: 80px;

}

.main-progress .bar-text {
  //white-space: nowrap;
  font-weight: 400;
  position: absolute;
  color: $white;
  bottom: -$o/2;
  line-height: 5*$o;
}

.main-progress h1.bar-text {
  font-size: 2.5*$o;
  margin-bottom: 1*$o;
}

.main-progress h1.bar-text p {
  right: 0;
  top: -4*$o;
  position: absolute;
  color: $light;
  font-size: 1.5*$o;
}

.main-progress .bar-left {
  position: absolute;
  right: 25px + $o*2;
  text-align: right;
  width: calc(300px);
}

.bar--tooLagreValue {
  position: absolute;
  text-align: right;
  width: calc(300px);
  right: 200px + 52px + $o*2;
  margin-bottom: 4px !important;
}

.main-progress .bar-label {
  position: relative;
  margin-right: $o*10;
  min-width: 220px + $o*2;
  max-width: 82%;
}

.main-progress .bar-text--right {
  margin-bottom: 2.3*$o !important;
}

.main-progress .bar-right {
  
  right: 2*$o;
}

.hexagon-bg-container {
  height: 2000px;
}

.hexagon-bg:nth-child(1) {
  right: -300px;
  top: -400px;
  width: 800px;
}
.hexagon-bg:nth-child(2) {
  top: 150px;
  left: 100px;
  width: 500px;
}
.hexagon-bg:nth-child(3) {
  top: 700px;
  right: 250px;
  width: 650px;
}
.hexagon-bg {
  position: absolute;
  stroke-width: 18px;
  stroke: $primary;
  fill: transparent;
  opacity: 0.2;
}

.home-news {
  height: 15*$o;
  padding: 0 3*$o;
  margin-bottom: 2*$o;
  color: $white;
  overflow: hidden;
}

.home-news h2 {
  @extend .underline,
  .uppercase;
}

.home-news p {
  height: 7*$o;
  overflow: hidden;
}

.home-event {
  height: 15*$o;
  margin-bottom: 2*$o;
  padding: 0 3*$o;
  overflow: hidden;
  background-color: $white;
}

.home-event h1 {
  @extend .inline,
  .uppercase;
  margin: $o 0 0 0;
  color: $primary;
}

.home-event h2 {
  @extend .inline,
  .uppercase;
  margin: 0 0 0 $o;
  color: $primary;
}

.home-event p {
  margin: 0.8*$o 0 0 0;
  height: 7*$o;
  overflow: hidden;
}

.sponsor-img {
  @include image("placeholder.png");

  width: 80%;
  margin: 0 10% $o 10%;
  padding: calc(40% - 4px) 0;
  border: $border solid $primary;
  border-radius: 50%;
  overflow: hidden;
}

.sponsor {
  text-align: center;
  margin-bottom: 2*$o;
}

.sponsor h2 {
  font-weight: 400;
  margin: 0;

}

.sponsor p {
  margin: 0;
  font-weight: 400;
  color: $dark;
}

.contacts {
  min-height: 5*$o;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact-white {
  margin: 0 $o;
}

.contact-white h3 {
  margin: 0 0 $o 0;
  color: $white;
}

.contact-white p {
  margin: 0 $o 0 0; 
  color: $light;
}

.contact {
  margin: 0 $o;
}

.contact h3 {
  margin: 0 0 $o 0;
  font-weight: 500;
  color: $black;
}

.contact p {
  margin: 0 $o 0 0;
  color: $dark;
}

.project-item {
  height: 510px;
  margin-bottom: 2*$o;
  overflow: hidden;
}

.project-item h2 {
  line-height: 32px;
  margin: $o 0 0 0;
}

.project-item p {
  margin: 0.6*$o 0 $o 0;
}

.project-text {
  overflow: hidden;
  height: 108px;
}

.project-progress h3 {
  margin: 0 0 2*$o 0;
  font-size: 1.8*$o;
  font-weight: 400;
}

.project-progress p {
  margin: 0;
  font-size: 1.4*$o;
}

.project-progress {
  @extend .transition-3;
  margin-top: -414px;
  padding-top: 414px;
  height: 100%;
  bottom: 0;
}

.project-progress:hover {
  bottom: 6*$o;
}

.project-bar {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: $o;
  bottom: 0;
  left: 0;
  background-color: $disabled;
}

.projects-icon {
  @extend .cover;
  width: 10*$o;
  height: 10*$o;
  margin: 0 0 0 0.65*$o;
  float: left;
}

.project-half {
}

.project-half h2 {
  margin: 2*$o 0 $o 0;
}

.contacts-block {
  margin-bottom: -150px;
}

.iframe-map {
  background-color: $disabled;
  margin-bottom: -6px;
}

.donations-table-container {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

.donations-table {
  min-width: 1000px;
}

table.donations-table td {
  @extend .h3,
  .space-element;
  padding-left: 2*$o;
}
table.donations-table tr:nth-child(2n+1) {
  background-color: $semi-disabled;
}
table.donations-table tr:first-child {
  background-color: $primary;
  font-weight: 500;
  color: $white;
}

@media print, screen and (max-width: 39.999em) {
  .wide-img {
    background-position: center 0 !important;
  }

  .contacts {
    width: 100%;
    margin-top: $o;
    justify-content: space-between;
  }
  footer .logo-white, footer .mgsu-logo-white {
    margin: $o auto;
    display: block !important;
    float: none !important;
  }
  .contacts-block {
    margin-bottom: 2*$o;
  }
  .iframe-map {
    background-color: $white;
    padding: 0 0.9375rem;
    margin-bottom: 2*$o;
  }
}

@media print, screen and (min-width: 40em) and (max-width: 63.999em) {
  .contacts {
    width: 100%;
    margin-top: 100px;
    justify-content: space-between;
  }
}

@media print, screen and (min-width: 64em) {

}

