.logo-white {
  @extend .inline,
  .left,
  .pointer,
  .cover;
  background: url($image + "logo-white.png") no-repeat;
  height: $header-content-height;
  width: $header-content-height*3.65;
}

.wide-img {
  @extend .cover;
  position: relative;
  background: url($image + "home-bg.jpg") no-repeat center center fixed;
  margin-top: -8*$o;
  padding: 8*$o 0 20*$o 0;
}

.main-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12*$o;
  overflow: hidden;
}

.main-progress .bar {
  @extend .transition-3;
  position: absolute;
  background-color: $black;
  bottom: 0;
  right: 0;
  height: $o;
  width: 100%;
}

.main-progress .bar-text {
  //white-space: nowrap;
  font-weight: 400;
  position: absolute;
  color: $white;
  bottom: -$o/2;
  line-height: 5*$o;
}

.main-progress h1.bar-text p {
  right: 0;
  top: -4*$o;
  position: absolute;
  color: $light;
  font-size: 1.5*$o;
}

.main-progress .bar-left {
  text-align: right;
  width: calc(100% + 300px);
  left: calc(-100% - 300px);
}

.main-progress .bar-right {
  right: 0;
}

.home-news {
  height: 15*$o;
  padding: 0 3*$o;
  color: $white;
  overflow: hidden;
}

.home-news h2 {
  @extend .underline,
  .uppercase;
}

.home-news p {
  height: 7*$o;
  overflow: hidden;
}

.home-event {
  height: 15*$o;
  padding: 0 3*$o;
  overflow: hidden;
}

.home-event h1 {
  @extend .inline,
  .uppercase;
  margin: $o 0 0 0;
  color: $primary;
}

.home-event h2 {
  @extend .inline,
  .uppercase;
  margin: 0 0 0 $o;
  color: $primary;
}

.home-event p {
  margin:0.8*$o 0 0 0;
  height: 7*$o;
  overflow: hidden;
}