$primary: #CB6D71;//#D8666E
$accent: #0A7BD0;
$disabled: #D8D8D8;
$semi-disabled: #f2f2f2;
$white: #FFF;
$black: #050F11;

$transparent: transparent;
$dark: rgba(0, 0, 0, 0.7);
$semi-dark: rgba(0, 0, 0, 0.2);
$light: rgba(255, 255, 255, 0.7);
$semi-light: rgba(255, 255, 255, 0.3);