$media: "../media/";
$font: $media + "fonts/";
$image: $media + "images/";

$small-delay: 0.2s;
$medium-delay: 0.5s;
$large-delay: 0.9s;

$header-content-height: 60px;

$small-border: 2.5px;
$border: 4px;
