header {
  position: relative;
  height: 8*$o;
  margin: 0;
  padding: 2*$o 3*$o;
  z-index: 100;
}

footer {
  position: relative;
  height: 8*$o;
  margin: 0;
  padding: 2*$o 3*$o;
  z-index: 100;
}

.page {

}

.content {
  position: relative;
}


.overlay {
  position: absolute;
  z-index: 9999;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;

}

.blackout {
  @extend .overlay;
  z-index: auto;
  background-color: $dark;
}
