@mixin image($url) {
  @extend .cover;
  background: url($image + $url) no-repeat center center;
}

header {
  position: relative;
  height: 8*$o;
  margin: 0;
  padding: 2*$o 3*$o;
  z-index: 100;
}

.header-white {
  .nav-item {
    color: #fff;
  }
}

footer {
  position: relative;
  height: 8*$o;
  margin: 0;
  padding: 2*$o 3*$o;
  z-index: 100;
}

.columns * {
  position: relative;
}

.page {

}

.content {
  position: relative;
}

.overlay {
  @extend .transition-2;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  padding: 2*$o 3*$o;
  opacity: 1;
}

.blackout {
  @extend .overlay;
  position: absolute;
  z-index: auto;
  background-color: $dark;
}

.bg-img {
  @include image("placeholder.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.bg-border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: $border solid $primary;
}
